host: "::"
port: 28530

geo:
    provider: "mozilla"
    mozilla:
        api_key: "test"

director:
    enabled: true

    sqlite_path: "director.db"

    admin:
        enabled: true
        token: ujVw0wU0kHms8TRXO4Ji9H0nF4ZVYVWUIz41AdfBYKtFSI16SEWFroWQa0OlbD3n

    geojson: "domains.geojson"
    meshviewer_json_url: "https://meshviewer.darmstadt.freifunk.net/data/meshviewer.json"
    update_interval: -1

    default_domain: default
    domain_switch_time: 1600000000 # 13.09.2020 12:26pm (UTC)
    only_migrate_vpn: true
    tolerance_distance: 200
    max_accuracy: 100

locator:
    enabled: true