[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
flask = "*"
shapely = "*"
fastkml = "*"
geojson = "*"
lxml = "*"
pyyaml = "*"
mozls = "*"
peewee = "*"
pymeshviewer = "*"
apscheduler = "*"
waitress = "*"
"slpp-23" = "*"

[dev-packages]
pipenv = "*"
