<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodes</title>
</head>
<body>
    {% for mesh_id, mesh in meshes.items() %}
    <h2>{{ mesh_id }} - {{ mesh.domain }} - {{ mesh.switch_time }}</h2>
    <table>
        <tr><th>Node-ID</th><th>Domain</th><th>Switch time</th><th>Query time</th></tr>
    {% for node in mesh.nodes %}
        <tr><td>{{ node.node_id }}</td><td>{{ node.domain }}</td><td>{{ node.switch_time }}</td><td>{{ node.query_time }}</td></tr>
    {% endfor %}
    </table>
    {% endfor %}
</body>
</html>